/.metadata/
/A Simple Java Program/welcome.class
/A Simple Java Program/.vscode
/A Simple Java Program/ComputeExpression.class
/A Simple Java Program/WelcomeWithThreeMessages.class
/A Simple Java Program/.classpath
/A Simple Java Program/.project